.control-append__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.control-append__item {
  margin: 0 8px;
}

.control-append__volumn {
  width: 40%;
  display: flex;
}
