.playlist-table__table--transparent {
  background: transparent !important;
}

.playlist-card__container {
  height: 54px;
  align-items: center;
}

.playlist-card__title {
  font-size: 16px;
  color: white !important;
}

.playlist-card__subtitle {
  font-size: 16px;
  color: #b3b3b3 !important;
}
