.general-card-vertical {
  background: rgba(0, 0, 0, 0.7) !important;
  &:hover {
    .general-card-vertical__button {
      opacity: 1;
    }
    background: rgba(0, 0, 0, 0.2) !important;
  }
}

.general-card-vertical__button {
  opacity: 0;
  transition: opacity 0.5s;
}

.general-card-vertical__position-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}
